
.imgPortada{
    background-image: url("../../../public//assets/images/Portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

@media screen and (max-height: 740px) {
    .img{
        height: 100vh;
    }    
}